@font-face{
    font-family: amatic-regular;
    src: url("../fonts/amatic/AmaticSC-Regular.ttf"), url("../fonts/amatic/AmaticSC-Regular.woff");
}

@font-face{
    font-family: Assistant-Regular;
    src: url("../fonts/assistant/Assistant-Regular.ttf"), url("../fonts/assistant/Assistant-Regular.woff");
}

@font-face{
    font-family: Assistant-Bold;
    src: url("../fonts/assistant/Assistant-Bold.ttf"), url("../fonts/assistant/Assistant-Bold.woff");
}

html{
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    font-family:  amatic-regular;
    font-size: 25px;
    color: black;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* =======header======= */

header {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    background-color: #dbe0e6;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    padding: 0 40px 0 40px;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    position: relative;
    bottom: 3px;  
}

.logo span{
    margin-left: 55px;
    margin-top: 18px;
}

.phone-num-span{
    font-size: 15px;
    font-family:  Assistant-Regular;
}

.logo a {
    display: flex;
    color: white;
}

.logo img {
    width: 100px;
    display: flex;
}

.header-nav-a-style  .regular-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.header-nav-a-style  ul li {
    list-style-type: none;
    margin: 10px;

}

.header-nav-a-style  ul li a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
} 

.header-nav-a-style ul li a:not(.social):hover {
    border-color: black;
}

.header-nav-a-style  ul li a i {
    font-size: 19px;
    transition: transform .2s;
}

.header-nav-a-style ul li a i:hover {
    background-color: white;
    border-radius: 50%;
    transform: scale(1.2); 
}

/* ======= hamburger menu ============= */


.hamburger-manu {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    top: -2px;
    z-index: 999;
    top: 4px;
    right: 17px;
}

.menu-btn-burger {
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background: black;
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before, .menu-btn-burger::after{
    content: " ";
    position: absolute;
    width:50px;
    border-radius: 5px;
    height: 6px;
    background: black;
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before {
    transform: translateY(-16px);
}

.menu-btn-burger::after {
    transform: translateY(16px);
}
/* ======= humburger-icon-animation =========== */

.hamburger-manu.open .menu-btn-burger{
    transform: translateX(-50px);
    background: transparent;
}

.hamburger-manu.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.hamburger-manu.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

/* ====== hamburger-nav ========= */

.hamburger-nav {
    display: flex;
    height: 0px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #e8e4e1;
    background-size: cover;
    z-index: 100;
    overflow: hidden;
    transition: all ease .5s;
}

.hamburger-nav ul {
    padding-right: 0;
    text-align: center;
    margin-top: 77px;
}
.hamburger-nav ul li a {
    font-size: 40px;
}

.social-hamburger{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ============= @media =============== */ 

@media only screen and (max-width: 760px){
   
    .hamburger-manu {
        display: flex;
    }

    header .regular-nav {
        display: none;
    }

    .hamburger-nav.show {
        height: 300px;
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .hamburger-nav nav {
        flex: 1;
        flex-direction: column;
        display: flex;
    }

    .hamburger-nav nav ul {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: space-between;
        flex: 1;
        margin: 0px;
    }

    .hamburger-nav nav ul li {
        margin: 0px;
    }


    .header-nav-a-style  .regular-nav{
        display: none;
    }

    .logo span{
        display: none;
    }

}

/*  ====== header-slider ======= */

.slider-pannel{
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.sliders-frame{
    background-color: khaki;
}

.slidershow{
    width: 100%;
    overflow: hidden;
}

.middle{
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(50%,0%);
}

.navigation{
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
}

.bar{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #000000;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #000000;

}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.sliders{
    display: flex;
    height: calc(100vh - 100px);
    width: 500%;
}

.slide{
    width:20%;
    transition: 0.6s;

}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#r1:checked ~ .s1{
    margin-right: 0;
}

#r2:checked ~ .s1{
    margin-right: -20%;
}

#r3:checked ~ .s1{
    margin-right: -40%;
}

#r4:checked ~ .s1{
    margin-right: -60%;
}

#r5:checked ~ .s1{
    margin-right: -80%;
}

/* ============= section-general =============== */ 
.sections-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.section {
    width: inherit;
    /* min-height: 100vw; */
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-image: url(../images/bg/background-clean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 14px;
}

.title-section img {
    width:20%;
    margin: 0 20px 0 20px;
}

.title-section h1 {
    font-size: min(max(20px, 4vw), 50px);
    margin: 0;
    text-align: center;
}

.description{
    width: inherit;
}

.description h1{
    font-size: min(max(15px, 4vw), 40px);
}

/* ============= video-section =============== */ 

.videoclip{
    width: 100%;
}
.video-container {
    width: 74%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49%, 3fr));
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
}

/* ============= about-me-section =============== */ 

.aboutSc .title-section{
    padding-bottom: 20px;
}

.about-me-container{
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
   
   width: inherit;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-template-rows: repeat(2, auto);
}

.about-me-container img{
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0 0 10px 10px #f7c5a8 inset;
    padding: 5px;


}

.about-me-container p{
    line-height: 1.3;
    font-size: min(max(16px, 4vw), 25px);
    font-family: Assistant-Regular;
    text-align: center;

}

@media only screen and (max-width: 941px){
    .about-me-container img{
        width: 100%;
    }
}

/* ============= contact-section =============== */

.contact-form{
    width:85%;
    max-width: 600px;
    background: #f1f1f1;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px #000000b3;
    margin-bottom: 100px;
}

.txtb{
    border: 1px solid grey;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.txtb label{
    display: block;
    text-align: right;
    color: #333;
    font-size: 20px;
    font-family: Assistant-Regular;
}

.txtb input, .txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
    margin-top: 6px;
    color: #727272;
    font-family: Assistant-Regular;
}

.send-btn{
    display: inline-block;
    background-color: #444444;
    padding: 14px 0;
    color: white;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
}

.send-btn:hover{
    background-color: #9ca4ae;
}

/* ============= footer =============== */ 


.footer-container{
    background-color: #444444;
    height: 100px;
    width: 100%;
}
